body {
background-color: black;
background-image: url("Black-screanTwo.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
}

.containet {
  display: flex;
  flex-direction: column;
  }

p {
  color: white;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}

.textContent {
  font-size: 40px;
  margin-top: 150px;
}

.btnCheck {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: black;
  color: white;
  font-family: 'Philosopher', sans-serif;
  padding: 3px;
  font-size: 18px;
}